<h1>Plots</h1>

<% @plots.each do |plot| %>
<div id="plot-<%=plot.id%>">
  <h3>Plot Number:<%= plot.number %></h3>
  <% plot.plants.each do |plant| %>
  <div id="plant-<%=plant.id%>">
    <p><%= plant.name %></p>
    <%= link_to 'Remove', plot_plant_path(id: plant.id, plot_id: plot.id), method: :delete %>
  </div>
  <% end %>
</div>
<% end %>
